body{
  background: #6463637c;
  align-content: center;
  text-align: center;
}

.bodyTitle{
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  font-weight: bold;
  color: rgb(41, 40, 40);
}