.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 50px;
    width: 100%;
}

.navbarTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    text-align: center;

}

.nav-link {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bold;
    display: table-cell;
    align-items: center;
    justify-content: flex-end;
    display: inline-flex;
    visibility: visible;
    text-decoration: none;
    padding: 10px 15px;
}
